version: 2.1

sklearn_version_latest: &sklearn_version_latest 0.22.*
sklearn_version_prev: &sklearn_version_prev 0.21.*

test-defaults: &test-defaults
  parameters:
    sklearn_version:
      type: string
  working_directory: ~/baikal
  steps:
    - checkout
    - run: |
        sudo -E ./ci_tools/test_job.sh << parameters.sklearn_version >>

build-defaults: &build-defaults
  working_directory: ~/baikal
  docker:
    - image: circleci/python:3.7.3-stretch

jobs:
  test-py36:
    <<: *test-defaults
    docker:
      - image: circleci/python:3.6.8-stretch

  test-py37:
    <<: *test-defaults
    docker:
      - image: circleci/python:3.7.3-stretch
    environment:
      RUN_TEST_WITH_COVERAGE: 1

  test-py38:
    <<: *test-defaults
    docker:
      - image: circleci/python:3.8.0-buster

  build-wheel:
    <<: *build-defaults
    steps:
      - checkout
      - run: |
          sudo make wheel
      - persist_to_workspace:
          root: ./dist
          paths:
            - "*.whl"
      - store_artifacts:
          path: ./dist

  upload-wheel:
    <<: *build-defaults
    steps:
      - checkout
      - attach_workspace:
          at: ./dist
      - run: |
          sudo -E make upload

workflows:
  version: 2.1
  build-deploy:
    jobs:
      - test-py36:
          sklearn_version: *sklearn_version_prev
      - test-py36:
          sklearn_version: *sklearn_version_latest

      - test-py37:
          sklearn_version: *sklearn_version_prev
      - test-py37:
          name: test-main
          sklearn_version: *sklearn_version_latest

      # For py3.8 we only test 0.22.* or above
      # see: https://github.com/scikit-learn/scikit-learn/issues/15328
      - test-py38:
          sklearn_version: *sklearn_version_latest

      - build-wheel:
          requires:
            - test-main
      - upload-wheel-approval:
          type: approval
          requires:
            - build-wheel
          filters:
            branches:
              only: /release.*/
      - upload-wheel:
          requires:
            - upload-wheel-approval
  nightly:
    triggers:
      - schedule:
          # every day at 00:00 JST
          cron: "0 15 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test-py36:
          sklearn_version: "nightly"
      - test-py37:
          sklearn_version: "nightly"
      - test-py38:
          sklearn_version: "nightly"
