.toggle {
    display: block;
    clear: both;
    white-space: pre;
    pointer-events: none;
}

.toggle:before {
    content: " ▶ Show full example";
    font-weight: bold;
    cursor: pointer;
    pointer-events: all;
}

.toggle.open:before {
    content: " ▼ Hide full example";
    font-weight: bold;
}
